
.obj h1{
    color: #004AAD;
    font-family: Graduate;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: left;
}



.obj p{
    color: black;
    font-size: 1.5rem;
}

